<div class="backdrop"></div>
<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item">
                <a class="<%= path === '/' ? 'active' : '' %>" href="/">HomePage</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/Player' ? 'active' : '' %>" href="/Player">Player</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/Team' ? 'active' : '' %>" href="/Team">Team</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/Standing' ? 'active' : '' %>" href="/Standing">Standing</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/Coach' ? 'active' : '' %>" href="/Coach">Coach
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/Award' ? 'active' : '' %>" href="/Award">Award
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/All_Star_Game' ? 'active' : '' %>" href="/All_Star_Game">All_Star_Game
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/Final' ? 'active' : '' %>" href="/Final">Final
                </a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/Location' ? 'active' : '' %>" href="/Location">Location
                </a>
            </li>
        </ul>
    </nav>
</header>
