<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <select name="Award Selector" onchange="location = this.value;">
                    <option value="http://localhost:3000/Award/MVP">Most Valuable Player</option>
                    <option value="http://localhost:3000/Award/SOY">Six Man of the year</option>
                    <option value="http://localhost:3000/Award/MIP">Most Improved Player</option>
                    <option value="http://localhost:3000/Award/DPOY">Defensive Player of the year</option>
                    <option value="http://localhost:3000/Award/COY">Coach of the year</option>
                    <option value="http://localhost:3000/Award/ROY">Rookie of the year</option>
                </select>
                <table>
                    <h1>Coach of The Year</h1>
                    <thead>
                    <tr align="left">
                        <th width="200">Season</th>
                        <th width="200">Coach</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for (let coach of coaches) { %>
                    <tr align="left">
                        <th width="200"><%= coach.Season %></th>
                        <th width="200"><%= coach.Coach %></th>
                    </tr>
                    <% } %>
                    </tbody>
                </table>
            </main>
            <%- include('../includes/end.ejs') %>
