<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main>
                <% if (teams.length > 0) { %>
                    <div class="grid">
                        <% for (let team of teams) { %>
                            <article class="card product-item">
                                    <li><a href="/Team/<%= team.Team %>"><%= team.Team %></a></li>
                            </article>
                            <% } %>
                    </div>
                    <% } else { %>
                        <h1>No result Found!</h1>
                        <% } %>
            </main>
            <%- include('../includes/end.ejs') %>
