<%- include('../includes/head.ejs') %>
</head>

<body>
<%- include('../includes/navigation.ejs') %>

<main>
    <% if (players.length > 0) { %>
        <div class="grid">
            <% for (let player of players) { %>
                <article class="card product-item">
                    <li><a href="/Player/<%= player.PID %>"><%= player.Name %></a></li>
                </article>
            <% } %>
        </div>
    <% } else { %>
        <h1>No result Found!</h1>
    <% } %>
</main>
<%- include('../includes/end.ejs') %>