<%- include('../includes/head.ejs') %>
    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <main class="centered">
            <div>
                <img src="<%= player.imageUrl %>" alt="<%= product.title %>">
            </div>
            <h1><%= player.Name %></h1>

            <h2><%= player.Age %></h2>
            <h2><%= player.Position %></h2>
        </main>
        <%- include('../includes/end.ejs') %>